@keyframes plant_bounce {
  0%,
  50% {
    transform: translateY(-3000px);
  }
  90% {
    transform: translateY(15px);
  }
  95% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes bg_expand {
  0% {
    transform: scaleY(0);
  }
  90% {
    transform: scaleY(0.8);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes title_show {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content_show {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  80% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    pointer-events: all;
  }
}
.app {
  text-align: center;
  min-width: 400px;
  position: relative;
}
.logo_container {
  position: relative;
  padding: 20px;
}
.logo_bg {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 340px;
  margin-top: -185px;
  z-index: -1;
  background-color: #d8f7f7;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  animation: bg_expand 1s ease 1;
}
.logo {
  position: relative;
  animation: plant_bounce 1s ease 1;
}
.app_title {
  margin: 10px 0px;
  animation: title_show 1.11s ease 1;
}
.app_container {
  animation: content_show 1.39s ease 1;
}
.loader {
  height: 15px;
  aspect-ratio: 4;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --_g: no-repeat radial-gradient(farthest-side, #6db1b1 94%, #0000);
  background: var(--_g) left, var(--_g) right;
  background-size: 25% 100%;
  animation: l34 1s infinite;
  transform: translate(var(--d, 0)) rotate(0);
}
.loader:after {
  --d: 37.5%;
  animation-delay: 0.5s;
}
@keyframes l34 {
  50%,
  100% {
    transform: translate(var(--d, 0)) rotate(0.5turn);
  }
}
.loader_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.retry_btn {
  background: transparent;
  border: none;
  text-align: center;
  color: red;
  font-size: large;
  padding: 10px 20px;
  cursor: pointer;
  pointer-events: all;
}
.retry_btn_container {
  text-align: center;
}
.retry_btn_border1,.retry_btn_border2,.retry_btn_border3 {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid lightcoral;
  cursor: pointer;
  transition: outline 0.3s ease-in-out, border-color 0.3s ease-in-out;
  pointer-events: none;
}
.retry_btn_border2,.retry_btn_border3 {
  border: 1px solid transparent;
}
.error_container {
  margin: 50px 0px;
  font-weight: bolder;
  font-size: larger;
  color: red;
}

.retry_btn_border3:hover,
.retry_btn_border2:hover,
.retry_btn_border1:hover{
  outline: 5px solid transparent;
  border-color: red;
}